* {
    font-family: Calibri, sans-serif, Arial;
}

.button {
    margin-top: 10px;
    padding: 10px 16px;
    font-size: 16px;
    background-color: #F57E1F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #000000;
}

.button:hover {
    background-color: #9a9a9a;
}