* {
    font-family: Calibri, sans-serif, Arial;
}

.Search-group {
    display: inline-flex;
}

.Search-bar {
    margin: 0 auto;
    padding: 8px;
}

.Search-button {
    padding: 8px 12px;
    margin-left: 5px;
}

